@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans';
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    background-image: url(./../images/workplace.jpeg);
    background-size: cover;
    background-position: center;
}

header > * {
    width: 50%;
    max-width: 300px;
    text-align: center;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: black;
    color: white;
    width: 100%;
    box-shadow: 0px -60px 40px 20px black;
    min-height: 300px;
    padding: 5vh 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
    margin: 20px 0;
}

.card > img {
    height: 10vh;
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 680px;
    max-width: 100%;
    justify-content: space-around;
    padding: 8vh 20px;
}

.about-us > img {
    height: 50%;
    max-height: 200px;
    max-width: 200px;
}

div {
    max-width: 400px;
    text-align: start;
}

footer {
    background-color: rgb(39, 39, 39);
    padding: 2vh;
    color: white;
    text-align: center;
}